<!doctype html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="./assets/css/style.css"/>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  </head>
  <nav>
  <a href="index.html">Antivirus Documentation</a>
  <a href="antivirus.htm">Antivirus</a>
  <a href="ibm.html">IBM Cloud</a>
  <a href="insertingimage.html">image</a>
  <a href="prevention.html">prevention</a>
  <a href="typesofantivirus.html">types</a>
  <a href="titanic.html">titanic</a>
  </nav>
  <body>
    {{ content }}
  </body>
  <footer>{% include footer.txt %} </footer>
</html>